{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Login.css') }}">
{% endblock %}

{% block body %}
    <img src="{{ ('images/logo.png') }}" alt="Logo" class="logo">

    <div class="wrapper">
        <form method="post">
            <h2>Login</h2>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="input-field">
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus autocomplete="username">
                <label for="inputUsername">Enter your email</label>
            </div>

            <div class="input-field">
                <input type="password" name="password" id="inputPassword" required autocomplete="current-password">
                <label for="inputPassword">Enter your password</label>
            </div>

            <div class="forget">
                <label for="remember">
                    <input type="checkbox" id="remember" name="_remember_me">
                    <p>Remember me</p>
                </label>
                <a href="#">Forgot password?</a>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit">Log In</button>


            <div class="register">
                <p>Don't have an account? <a href="#">Register</a></p>
            </div>
        </form>
    </div>
{% endblock %}