{% extends 'base_dashboard.html.twig' %}

{% block title %}AdminLTE 3 | Dashboard{% endblock %}


  {% block stylesheets %}
    {{ parent() }}
  {% endblock %}

{% block body%}
  <div class="wrapper">
    {% include 'layout/sidebar.html.twig' %}

    {% include 'layout/navbar.html.twig' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">DataTables</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">


              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">DataTable with default features</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>NOM</th>
                      <th>Prénom</th>
                      <th>Prix</th>
                      <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for seance in seances %}
                      <tr>
                        <td>{{ seance.id }}</td>
                        <td>{{ seance.lastName }}</td>
                        <td>{{ seance.firstName }}</td>
                        <td>{{ seance.price }} DT</td>
                        <td>{{ seance.dateTime ? seance.dateTime|date('d/m/Y H:i') : '' }}</td>
                      </tr>
                    {% else %}
                      <tr>
                        <td colspan="5" class="text-center">Aucune séance trouvée.</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.2.0
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
  </div>
  <!-- ./wrapper -->
  {% block javascripts %}
    {{ parent() }}
    <script>
      $(function () {
        $("#example1").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
        });
      });
    </script>
  {% endblock %}
{% endblock %}