{% extends 'base_dashboard.html.twig' %}

{% block title %}Power GYM | Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h4 class="h4 m-0">Liste des clients</h4>
                        </div>

                    </div>
                </div>
            </div>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="pers_person_datatable" class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Nom & prénom</th>
                                            <th>Date de création</th>
                                            <th>Date de mise à jour</th>
                                            <th>Date de debut</th>
                                            <th>Date de fin</th>
                                            <th>Active</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for person in persons %}
                                            <tr>
                                                <td>{{ person.fullname }}</td>
                                                <td>{{ person.create_time }}</td>
                                                <td>{{ person.update_time }}</td>
                                                <td>{{ person.start_time }}</td>
                                                <td>{{ person.end_time }}</td>
                                                <td>{{ person.active }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>
    <script src="{{ asset('js/pages/per_person.js') }}"></script>
{% endblock %}