<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center align-content-center">
            <img src="{{ asset('images/logo.png') }}" alt="" style="width: 60px; height: auto">
        </div>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block"># {{ app.user.username }}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('dashboard_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Accueil</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('pers_person_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>Liste des clients</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('pers_access_v2_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-people-arrows"></i>
                        <p>Entreé</p>
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('pers_access_stats_index') }}" class="nav-link">
                            <i class="fas fa-chart-pie nav-icon"></i>
                            <p>Entreé Statistiques </p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Séance individuelle
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('pers_session_index') }}" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Afficher</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('pers_session_add') }}" class="nav-link">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Ajouter une séance</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('pers_session_chart') }}" class="nav-link">
                                <i class="fas fa-chart-pie nav-icon"></i>
                                <p>Statistiques</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('dashboard_admin_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-user-lock"></i>
                            <p>Administrateurs</p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('app_payment_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-money-bill-alt"></i>
                        <p>Abonnements</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('index_backups_upload_file') }}" class="nav-link">
                        <i class="nav-icon fas fa-cloud-upload"></i>
                        <p>Upload</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_profile_edit') }}" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>Profil</p>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</aside>