<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block"><i class="fas fa-user-circle mr-1"></i> {{ app.user.username }}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('dashboard_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Accueil</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>Administrateurs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('pers_person_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>Liste des clients</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('pers_access_v2_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-people-arrows"></i>
                        <p>Entreé</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('pers_access_stats_index') }}" class="nav-link">
                        <i class="fas fa-chart-pie nav-icon"></i>
                        <p>Entreé Statistiques </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Séance individuelle
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('pers_session_index') }}" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Afficher</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('pers_session_add') }}" class="nav-link">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Ajouter une séance</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('pers_session_chart') }}" class="nav-link">
                                <i class="fas fa-chart-pie nav-icon"></i>
                                <p>Statistiques</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_index') }}" class="nav-link">
                        <i class="fa fa-list-ul" aria-hidden="true"></i>
                        <p>Liste des administrateurs</p>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</aside>